/* Base CSS */
html{
    font-size: 10px;
}

/* First bottom layer */
body{
    background-color: #E52521;
    color: #FBD000;
}

/* Header container for title and description */
header{
    text-align: center;
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
}

/* Main title */
#title{
    font: 3rem "Press Start 2P", cursive;
}

/* Main title description */
#description{
    font: 2.5rem "Roboto Condensed", sans-serif;
}

/* Form container for survey */
#survey-form{
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
}

/* Labels */
label{
    font: 2rem "Roboto Condensed", sans-serif;
}

/* Text input and email input */
input[type=text], input[type=email]{
    width: 100%;
    margin: 10px 0;
    padding: 5px 5px;
    font-size: 1.5rem;
    border: 5px solid #3498DB;
    border-radius: 5px;
}

/* Dropdown menu and number input */
input[type=number], select{
    width: 40%;
    margin: 10px 0;
    padding: 5px 5px;
    font-size: 1.5rem;
    border: 5px solid #3498DB;
    border-radius: 5px;
}

/* Radio buttons and checkboxes */
input[type=radio], input[type=checkbox]{
    margin: 10px 0;
}

/* Text area */
textarea{
    width: 100%;
    height: 100px;
    margin: 10px 0;
    font-size: 1.5rem;
}

/* Submit button when inactive */
#submit{
    font: 2rem "Roboto Condensed", sans-serif;
    width: 100%;
    padding: 10px 50px;
    background-color: #28B463;
    color: #FBD000;
    cursor: pointer;
}

/* Submit button when hovering */
#submit:hover{
    background-color: #3498DB;
}

/* Desktop size only */
@media only screen and (min-width: 1000px){
    #title{
        font: 4rem "Press Start 2P", cursive;
    }

    #description{
        font: 3.5rem "Roboto Condensed", sans-serif;
    }

    label{
        font: 3rem "Roboto Condensed", sans-serif;
    }

    input[type=text], input[type=email]{
        font-size: 2.5rem;
    }
    
    input[type=number], select{
        font-size: 2.5rem;
    }

    textarea{
        font-size: 2.5rem;
    }
    
    #submit{
        font: 3rem "Roboto Condensed", sans-serif;
    }
}